/* Desktop styles */
.hero {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../../assets/images/background-image.jpg");
    padding: 80px 0;
}

.heroContent p {
  font-size: 16px;
}

.bookingFormDetails {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }

.hero h1 {
    margin-bottom: 16px;
    font-style: normal;
    font-size: 32px;
}

.heroContent {
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.trustScoreImg {
    position: relative;
    width: 106px; height: 20px;
    margin: 40px auto 8px;
}

.trustScoreText {
    display: flex;
}

.trustScoreText p {
    padding: 0 16px;
    font-size: 14px;
}

.trustScoreText p:first-child {
    border-right: 1px solid black;
    border-color: rgba(9, 26, 75, 0.16);
}

.bookingForm {
    margin: 40px 0 0 0;
    background-color: white;
    width: 100%;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.16);
}

.bookingForm p {
  font-size: 14px;
}

.formBoxHeader p {
  font-size: 10px;
}

.bookingFormHeader {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.bookingFormHeader button {
    padding: 16px 5px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
}

.mainButtons {
  display: flex;
  width: 30%;
  gap: 16px;
}


.selectedFormType {
    background-color: #005AA9;
    color: white;
    border: 1px solid #005AA9;
}

.unselectedFormType {
    background-color: white;
    color: rgb(var(--heading-font-rgb));
    border: 1px solid #E6E9F0;
}

.formBox {
    border: 1px solid #E6E9F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    margin: 0 0 8px 0;
    padding: 16px;
    width: 50%;
}


.bookingFormDestinations, .bookingFormExtraDetails {
  display: flex;
}

.bookingFormDestinations {
  margin-right: 8px;
}

.formBoxTitle, .formSubText {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: rgb(var(--font-rgb));
}

.formBoxHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Direct Flights Toggle*/

.directFlightsToggle label {
  display: flex; 
  font-size: 14px;
  align-items: center;
}

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  margin-left: 8px;
  position: relative;
  cursor: pointer;
  background-color: #BDBFC6;
  width: 50px; height: 25px;
  border-radius: 25px;
  transition: .4s;

}

.slider::before {
  position: absolute;
  content: "";
  top: 3px;
  left: 4px;
  height: 18px; width: 19px;
  background-color: white;
  border-radius: 50%;
  transition: .4s;
}

.directFlightsToggle input:checked + .slider {
  background-color: #005AA9;
}


.directFlightsToggle input:checked + .slider::before {
  transform: translateX(22px);
}


.formSubText {
    text-align: right;
}

.bookingFormAddCity {
    background-color: #E6E9F0;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    margin: 14px;
}

.bookingFormDestinations .formBox:last-of-type::after {
  content: url("../../assets/icons/swap.svg");
  border: 1px solid #E6E9F0;
  border-radius: 50px;
  background-color: white;
  width: 30px; height: 30px;
  justify-content: center;
  display: flex;
  position: relative; 
  left: -33px;
  top: -25px;
  padding: 3px;
  box-sizing: border-box;
}


.bookingFormDestinations .formBox:first-of-type {
  border-radius: 10px 0 0 10px;
}

.bookingFormDestinations .formBox:last-of-type {
  border-radius: 0 10px 10px 0;
  height: 74px;
  justify-content: center;
  display: flex;
  padding-top: 30px;
}


.bookingFormExtraDetails {
  gap: 8px;
}

.bookingFormExtraDetails div {
  border-radius: 10px;
}

/* Tablet */
@media screen and (max-width: 1220px) {

  .mainButtons {
    display: flex;
    width: 50%;
    gap: 16px;
  }

  .bookingFormDetails {
    display: block;
  }

  .bookingFormDestinations, .bookingFormExtraDetails {
    display: flex;
  }

  .bookingFormDestinations .formBox:last-of-type {
    border-radius: 0 10px 10px  0;
  }
  
  .bookingFormExtraDetails div, .bookingFormDestinations div {
    width: 100%;
  }
}

/* Mobile */
@media screen and (max-width: 800px) {

  .hero {
    padding: 40px;
  }

  .heroContent {
    padding: 0;
  }
  
.hero h1 {
  font-style: normal;
  font-size: 24px;
}

.mainButtons {
    flex-direction: row;
    gap: 8px;
    width: 100%;
}

.bookingFormDetails, .bookingFormDestinations {
    display: block;
    width: 100%;
}

.directFlightsToggle {
    display: none;
}

.formBox {
  width: unset;
  border-radius: 8px;
}

.bookingFormDestinations .formBox:first-of-type {
  border-radius: 8px;
}

.bookingFormDestinations .formBox:last-of-type {
  border-radius: 8px;
}

.bookingFormExtraDetails {
  display: block;
}

.bookingFormDestinations .formBox:last-of-type::after {
  content: none;
}
}


