/* Everything else / Desktop styles */
.blackFont {
    color: rgb(var(--font-rgb))
  }

  .container {
    margin: 0 auto 100px auto;
    overflow-x: visible;
  }


/* Tablet */

@media screen and (max-width: 1120px) {
    .container {
        width: 740px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }  
}


/* Mobile */
@media screen and (max-width: 700px) {
    .container {
        width: 317px;
    }
}

