/* Everything else / Desktop styles */
.blackFont {
    color: rgb(var(--font-rgb))
  }


/* Tablet */

@media screen and (min-width: 701px) and (max-width: 1120px) 
{
   
}


/* Mobile */
@media screen and (max-width: 700px) {
    .container {
        width: 311px;
        padding: 40px 0;
        margin: auto;
        background-color: black;
    }
}

