.carouselBoxContent {
    padding: 24px;
    background-color: white;
}

.carouselBoxContent h3 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
}

.carouselBoxContent p {
    line-height: 1.5;
    color: rgb(var(--grey));
}

.carouselBoxImg {
    position: relative;
    width: 100%;
    height: 260px;
}

.carouselBoxImg img {
    border-radius: 16px 16px 0 0;
    object-fit: cover;
}

/* Tablet */

@media screen and (max-width: 1120px) {

    .carouselBoxWapper div {
        width: 380px;
    }
}


/* Mobile */
@media screen and (max-width: 700px) {
    .carouselBoxWapper div {
        width: 330px;
    }
}