.carouselBoxContent {
    padding: 40px;
}

.carouselBoxWrapper {
    overflow: hidden;
    border-radius: 16px 16px 0 0;
}

.carouselBoxContent h3 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
}

.carouselBoxContent p {
    line-height: 1.5;
    color: rgb(var(--grey));
}

.carouselBoxImg {
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;

}

.carouselBoxImg img {
    transition: .4s;
}

.carouselBoxWrapper:hover .carouselBoxImg img {
    transform: scale(1.1);
    filter: brightness(1.2);
}

/* Tablet */

@media screen and (max-width: 1220px) {
        .carouselBoxWrapper:hover .carouselBoxImg img {
            transform: none;
            filter: none;
    }
}