.carousel {
    height: 450px;
    width: 100%;
    text-align: left;
}

.carouselCentered {
    text-align: center;
}

.carousel h2 {
    color: blue;
    font-size: 16px;
    font-weight: 500;
}

.carousel h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.carouselContent {
    display: flex;
    width: 100%;
}

.carouselScroll {
    position: absolute;
    width: 100%;
    display: flex;
    gap: 16px;
    overflow-x: scroll;
    padding-right: 300px;
}

.carouselScroll div {
    width: 500px;
}

/* Tablet */

@media screen and (max-width: 1120px) {   
.carouselCentered {
    text-align: left;
}


.carouselScroll div {
    width: 430px;
}
}


/* Mobile */
@media screen and (max-width: 700px) { 
.carouselScroll div {
    width: 300px;
}
}