.box {
    width: 100%;
    border-radius: 16px;
    background-color: white;
}

/* Tablet */

@media screen and (min-width: 701px) and (max-width: 1120px) 
{
    .box {
        overflow: hidden;
    }
}


/* Mobile */
@media screen and (max-width: 700px) {
    .box {
        width: 100%;
    }
}