.box {
    width: 100%;
    border-radius: 16px;
    background-color: white;
}

/* Tablet */

@media screen and (max-width: 1220px) {

}


/* Mobile */
@media screen and (max-width: 800px) {
    .box {
        width: 100%;
    }
}