.callToActionBox {
    padding: 40px 36px;
    overflow: hidden;
}

.callToActionBox h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.callToActionBox p {
    font-size: 16px;
    color: #696969;
    line-height: 1.5;
}

.callToActionImgBox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
    width: 100%;
    height: auto;
    padding: 30px 0;
    margin-bottom: 10px;
}

.callToActionImg {
    position: relative;
}

.cATimg1 {
    left: -40px;
    width: 50px;
    height: 50px;
}

.cATimg2 {
    width: 45px;
    height: 45px;
    top: 20px;
}

.cATimg3 {
    width: 50px;
    height: 50px;
    left: 30px;
    top: -20px;
}

.cATimg4 {
    right: -68px;
    width: 50px;
    height: 50px;
}